*{
    box-sizing: border-box;
}
html{
    font-size: 5px;
    scroll-behavior: smooth;
    
}
body{
    font-size: 4rem;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
::-webkit-scrollbar{
    display: none;
}


/* <<<<<<<<<<<<<<<<---NAVBAR--->>>>>>>>>>>> */

nav{
    float: left;
    width: 20%;
    height: 100vh;
    background-color: rgb(44, 43, 43);
    display: inline;
    border-right: black 10px solid;

}
#imgbottom{
    color: black; height: 7px; width: 70%; margin: auto; opacity: 1;
}
#profilePicture{
    width: 70%;
    margin: 20px auto;

}
#profilePicture img{
    object-fit: cover;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 8px aliceblue solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


#navLinks{
    margin: 70px auto;
    color: aliceblue;
    text-align: center;
    font-size: 6rem;
}
nav li{
    font-size: 4rem;
    color: aliceblue;
    text-align: center;
    transition: 1s;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid aliceblue;
    width:70%;
    margin: 10px auto 10px;
}
#scrollLinks a{
    transition: .3s;
    padding: 10px 15px;
    border-radius: 20px;
}
#scrollLinks a:hover{
    background-color: rgba(240, 248, 255, 0.336);
    color: black;
    
}
.hover{
    background-color: rgba(240, 248, 255, 0.336);
    color: black;
}

/* <<<<<<<<<<<<<<<<---MAIN--->>>>>>>>>>>> */

main{
    display: inline;
    float: right;
    width: 80%;
    overflow: auto;
    background-color: rgba(61, 148, 35, 0.884);
    height: 100vh;
}
header{

}
section{
    height: 716px;
    display: block;
    width: 100%;
    
}
#homePage{
    background-color: aliceblue;
}
#homePicture{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
   
     
}
#homeProfile {
    object-fit: cover;
    width: 250px;
    margin-bottom: 20px;
}
#homeJob{
    padding-bottom: 100px;
}
#aboutPage{
    background-color: rgb(53, 152, 238);
}

#portfolioPage{
    background-color: rgb(168, 57, 16);
}

#contactPage{
    background-color: rgb(16, 129, 92);
}

