*{
    box-sizing: border-box;
}
html{
    font-size: 5px;
    scroll-behavior: smooth;
    
}
body{
    font-size: 4rem;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
::-webkit-scrollbar{
    display: none;
}
.hide{
    display: none!important;
}

h2{
    transition: .3s;
    font-size: 8rem;
    padding: 20px 40px;
    color: aliceblue;
}
/* <<<<<<<<<<<<<<<<---NAVBAR--->>>>>>>>>>>> */

nav{
    float: left;
    width: 20%;
    height: 100vh;
    background-color: rgb(44, 43, 43);
    display: inline;
    border-right: black 10px solid;

}
#imgbottom{
    color: black; height: 7px; width: 70%; margin: auto; opacity: 1;
}
#profilePicture{
    width: 70%;
    margin: 20px auto;

}
#profilePicture img{
    object-fit: cover;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 8px aliceblue solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


#navLinks{
    margin: 70px auto;
    color: aliceblue;
    text-align: center;
    font-size: 6rem;
}
nav li{
    font-size: 4rem;
    color: aliceblue;
    text-align: center;
    transition: 1s;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 2px solid aliceblue;
    width:70%;
    margin: 10px auto 10px;
}
#scrollLinks a{
    transition: .3s;
    padding: 10px 15px;
    border-radius: 20px;
}
#scrollLinks a:hover{
    background-color: rgba(240, 248, 255, 0.336);
    color: black;
    
}
.hover{
    background-color: rgba(240, 248, 255, 0.336);
    color: black;
}

/* <<<<<<<<<<<<<<<<---MAIN--->>>>>>>>>>>> */

main{
    display: inline;
    float: right;
    width: 80%;
    overflow: auto;
    background-color: rgba(61, 148, 35, 0.884);
    height: 100vh;
    
}

section{
    padding: 20px;
    height: 716px;
    display: block;
    width: 100%;
    
}
/* <<<<<<<<<<<<<<<<---HOMEPAGE--->>>>>>>>>>>> */
#homePage{
    background-color: aliceblue;
    position: relative;
}
#homePicture{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;     
}
#homeProfile {
    object-fit: cover;
    width: 250px;
    margin-bottom: 20px;
}
#homeJob{
  
    padding-bottom: 100px;
    display: flex;
    overflow: hidden;
    
}
#homeJob span{
    flex:0 0 45px;
    margin-left: 10px;   
    overflow: hidden;
    
}
#changeJob{
    position: relative;
    width: 147px; 
    height: 30px;
    overflow: hidden;
    
    transition: ease-out .6s;
}
#changeJob ul{
    position: absolute;
    display: flex;
    width: 200px;

}
#changeJob li{
    flex: 0 0 135px;
    display: inline-block;
    height: 30px;
    position: absolute;
    left: 0;
    
}
#homePage i{
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    bottom: 20px;
    color: rgb(172, 172, 172);
    font-size: 8rem;
    padding: 10px;
    transition: .3s;
}
#homePage i:hover{
    color: black;
    bottom: 27px;
    cursor: pointer;
}

/* <<<<<<<<<<<<<<<<---ABOUTPAGE--->>>>>>>>>>>> */
#aboutPage{
    background-color: rgb(53, 152, 238);
}


/* <<<<<<<<<<<<<<<<---PORTFOLIOPAGE--->>>>>>>>>>>> */
#portfolioPage{
    background-color: rgb(168, 57, 16);
    position: relative;
}
#portfolioPage .fa-circle-xmark{
    position: absolute;
    font-size: 10rem;
    right: 10px;
}
#jobDetail{
    transition: .3s;
    opacity: 0;
}
#carousel{
    position: relative;
    width: 1070px;
    overflow: hidden;
    height:298px;  
    margin: auto;
    transition: .3s;
    
}
#portfolioLinks{
    top: 0px;
    left: 0;
    margin: 0;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex: content;
    width: 2210px;
    transition: 1s;
    justify-content: space-between;
    padding: 0;
   
}

#portfolioLinks li{
    background-size: contain;
    flex: 0 0 500px ;
    height: 300px;
    background-color: azure;
    background-repeat: no-repeat;
    transition: .5s;
}

#portfolioLinks:hover{
    left: 0px;
}
#portfolioLinks a{
    
    width: 500px;
    height: 300px;
    opacity: 0;
    background-color: black;
    color: white;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    transition: .5s;
    display: flex;

}
#portfolioLinks a:hover{
    
    opacity: .8;
}
#portfolioLinks span{
    padding-bottom: 80px;
} 
#hangman{
    background-image: url(hangman.png);
}
#tictactoe{
    background-image: url(tictactoe.png);
}
#calculator{
    background-image: url(calculator.png);
}
#maze{
    background-image: url(maze.png);
}

#carousel i{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    z-index: 10;
    font-size: 6rem;
    color: aliceblue;   
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px ;
    transition: .4s;
}
#carousel i:hover{

    background-color: aliceblue;
    color: black;
}
#carousel .fa-angle-left{
    left: 10px;
    padding-right: 3px;
}
#carousel .fa-angle-right{
    right: 10px;
    padding-left: 3px;
}
/* <<<<<<<<<<<<<<<<---CONTACTPAGE--->>>>>>>>>>>> */
#contactPage{
    background-color: rgb(16, 129, 92);
}

